*{
    font-family: 'Poppins', sans-serif; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-left: 40px;
margin-right: 40px;
    
}
.header-title{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
nav > ul{
    display: flex;  
    gap: 1.2rem; 
}
nav ul li{
   list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
font-size: 16px;
font-weight: 600;
}
.banner{
    display: flex;
    justify-content:center;
    align-items: center;
}
.banner-content{
    margin-right: 160px;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
}
.banner-desc{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.banner-btn{
  padding: 10px 24px;  
  border-radius: 41px;
  background: #E02C6D;
  color: #fff;
  border: 0;
}
.banner-img{
   height: 300px;
   width: 300px;
   border-radius: 300px;
   border: 3px solid #f1e4ff;

}
.banner-img img{
    width: 300px;
    height: 300px;
}
.sponsor{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 1.8rem;
    margin-top: 150px;
}
.popular-collection-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center; 
    margin-top: 120px;
}
.popular-collection-container{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 1.5rem;
margin-left: 50px;
}
.popular-collection-photos{
    width: 312px;
    height: 480px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.popular-photo {
    width: 250px;
    height: 216px;
    margin-top:20px ;
    margin-left: 30px;
}
.popular-title{
color: #181915;
font-size: 28px;
font-weight: 500;
margin-left:30px;
}
.popular-collection-price{
 color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 24px;
font-weight: 400;
margin-left: 30px;
}
.popular-collection-rating{
    margin-left: 30px;
}
.popular-collection-rating .fa-star, .fa-star-half-stroke{
    color: rgb(175, 175, 24);
}
.popular-collection-desc{
color: #787885;
font-family: Inter;
font-size: 14px;
font-weight: 700;
margin-left: 30px;
}























































@media screen and (max-width:576px) {
 nav{
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
 }   
 .banner{
    flex-direction: column-reverse;
 }
 .banner-content{
    margin-right: 0;
    margin-left: 14px;
 }
 .sponsor{
    flex-wrap: wrap;
 }
 .popular-collection-container{
    grid-template-columns: repeat(1,1fr);
 }
}
@media screen and (min-width:576px) and (max-width:960px) {
   nav{
    flex-direction: column;

   }
   .banner{
    flex-direction: column-reverse;
   }
   .banner-content{
    margin-right: 14px;
   }
.sponsor{
    flex-wrap: wrap;
}
.popular-collection-container{
    grid-template-columns: repeat(1,1fr);
    width: 100;
    margin-left: 200px;
}
}